{"a2a":{
   "test":{"url":"http://127.0.0.1:9086/a2a",
           "description":"A2A test endpoint",
           "headers":{"Authorization":"Bearer <token>"},
           "status":"active",
           "extcapabilities":["支持情报调查，用于ip,domain等快速情报查询","支持网络隔离控制"]
           }
}}

